{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <h1>Screenshots</h1>
        <div class="row"> 
          <div class="column">
            <img src="/img/ss1.png">
            <img src="/img/ss2.png">
          </div>
          <div class="column">
            <img src="/img/ss3.png">
            <img src="/img/ss4.png">
          </div> 
      </div>
    </div>
  </div>
</div>
{{ end }}

